/*RESET CSS =================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: var(--Rebond);
}

:root {
  font-size: 62.5%;

  --color-text: #d8d8d8;
  --primary-color: #3BFF00;
  --secondy-color: #98FF13;
  --gradient: linear-gradient(45deg, #3BFF00 0%, #98FF13 100%);

  --black-900: #020202;
  --black-800: #090909;
  --black-700: #0b0b0b;

  --nav-height: 7.2rem;

  --interV: 'interV';
  --Rebond: 'Rebond';
  --RebondBold: 'RebondBold';
  --RebondLight: 'RebondLight';
}  

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
}

/*BASE =================== */
body {
  font-size: 1.6rem;
  text-align: center;
  font-weight: 700;

  background-image: url(./assets/BG-IMAGE.jpg);
  background-position-x: 33%;
  background-repeat: no-repeat;

  overflow: overlay;
}

.wrapper {
  width: min(50rem, 100%);
  margin-inline: auto;

  padding-inline: 2.4rem;
}

section {
  padding-block: 10rem;
}

/*====  scrollbar ============================ */

::-webkit-scrollbar {
  width: 1rem;
  background-color: #0f0f0f;
}

::-webkit-scrollbar-thumb {
  width: 1rem;
  background-color: #ffffff97;
}

/* NAVIGATION in ../navigation/navigation.css =================== */
/* footer in ../footer/footer.css =================== */


/* NAVIGATION =================== */

nav {
  display: flex;

  height: var(--nav-height);

  position: fixed;

  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  background-color: rgba(37, 37, 37, 0.16);
  border-radius: 0;
  border: 1px solid rgba(63, 63, 63, 0.125);

  width: 100vw;
  z-index: 100;
  transition: all 300ms ease-in-out;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav button path {
  stroke: var(--color-text);
}

nav path {
  stroke: var(--color-text);
}

nav .logo img {
  width: 9rem;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

nav button:hover {
  background: transparent;
}

nav .menu,
nav .close-menu {
  position: fixed;
}

/* NAVIGATION ON SCROLL =================== */
nav.scroll {
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  background-color: rgba(0, 0, 0, 0.486);
  border-radius: 0;
  border: 1px solid rgba(63, 63, 63, 0.125);
}

nav.scroll path {
  stroke: var(--color-text);
}

/* MENU EXPANDED =================== */
body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded > :not(nav) {
  visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  transform: translateX(100%);
}

body.menu-expanded .menu {
  top: 0;
  right: 0;
  background-color: #151515;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23181818' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%231b1b1b' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%231d1d1d' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23202020' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23232323' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23202020' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%231e1e1e' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%231b1b1b' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23191919' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23161616' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;

  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding-top: var(--nav-height);

  transition: transform 300ms;
  transform: translateX(0);
}

.menu ul li:nth-child(3) {
  display: none;
}

.menu ul li:nth-child(4) {
  display: none;
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  margin-bottom: 6rem;

  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.1rem;
} 

.menu ul li a {
  color: var(--color-text);
  text-decoration: none;

  transition: all 200ms ease-in-out;
}

.menu ul li a:hover {
  color: var(--secondary-color);
}



.menu .button button {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  color: #111111;
  text-transform: uppercase;

  background: var(--primary-color);
  border-radius: 4rem;
  text-decoration: none;

  display: inline-block;
  padding: 1.6rem 3.2rem;

  margin-bottom: 8rem;

  transition: all 200ms ease-in-out;
}

.menu .button button:hover {
  background-color: transparent;
  outline: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

body.menu-expanded .logo,
body.menu-expanded nav button {
  position: relative;
  z-index: 100;
}

body.menu-expanded button path {
  stroke: var(--color-text);
}

/* RESPONSIVE =================== */
@media (min-width: 768px) {
.wrapper {
  width: min(76rem, 100%);
}
}

@media (min-width: 1080px) {
  /* reset =================== */
    nav#navigation .wrapper * {
      margin: 0;
      padding: 0;
      visibility: initial;
      display: initial;
      opacity: initial;
      flex-direction: initial;
      position: initial;
      font-weight: initial;
      font-size: initial;
      transform: initial;
      color: initial;
      background-color: initial;
    }

    nav#navigation {
      width: calc(100% - 200px);
      left: 100px;
      border-radius: 2rem;
      top: 4rem;
    }
  
    nav#navigation .close-menu,
    nav#navigation .open-menu,
    nav#navigation .social-links {
      display: none;
    }
  
    nav#navigation .menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 63%;
    }
  
    nav#navigation .menu ul:nth-child(1) {
      display: flex;
      gap: 3.2rem;
    } 
  
    nav#navigation .menu ul li a {
      font-weight: 700;
      opacity: .7;
    }

    nav#navigation .menu ul li a:hover {
      color: var(--primary-color);
      opacity: 1;
    }

    nav#navigation .menu a {
      color: #111111;
      text-decoration: none;
    }

    nav#navigation .menu a button {
      color: #111111;
      background-color: var(--primary-color);
      border-radius: initial;
      padding: 0 2rem;
      height: var(--nav-height);

      transition: all 300ms ease-in-out;
      font-weight: 700;
      
      box-shadow:  10px 10px 50px #292929a8,
           -10px -10px 50px #373737ad;
    }

    nav#navigation .menu a button:hover {
      color: #000;
      font-weight: 700;
      box-shadow:  10px 10px 50px #94f10831,
           -10px -10px 50px #9ae92328;

    }

    nav#navigation.scroll .menu a button {
      background-color: #94f108c8;
    }

    nav#navigation .menu ul li:nth-child(6) {
      animation: entering 400ms ease-in-out backwards;
    }

    nav#navigation .menu ul li:nth-child(5) {
      animation: entering 400ms ease-in-out;
      animation-delay: 200ms;
    }

    nav#navigation .menu ul li:nth-child(4) {
      animation: entering 400ms ease-in-out backwards;
      animation-delay: 400ms;
    }

    nav#navigation .menu ul li:nth-child(3) {
      animation: entering 400ms ease-in-out backwards;
      animation-delay: 600ms;
    }

    nav#navigation .menu ul li:nth-child(2) {
      animation: entering 400ms ease-in-out backwards;
      animation-delay: 800ms;
    }
  
    nav#navigation .menu ul li:nth-child(1) {
      animation: entering 400ms ease-in-out backwards;
      animation-delay: 1000ms;
    }
  
  
    nav#navigation .menu li a {
      transition: all 300ms;
      color: var(--color-text);
    }
  
    nav#navigation .menu li a::after {
      content: '';
      width: 0%;
      height: 3px;
      background-color: var(--primary-color);
  
      position: relative;
      bottom: -2rem;
      left: -1rem;
      display: block;
  
      transition: width 200ms ease-in-out;
    }
  
    nav#navigation .menu li a:hover::after {
      padding-inline: 1rem;
      width: 100%;
    }

    .wrapper {
      width: min(133rem, 100%);
    }
  
  } 

/* ANIMATIONS =================== */

@keyframes entering {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}