#resultado {
    background: var(--black-700);
    overflow: hidden;
    position: relative;
  }
  
  #resultado .pattern {
    width: 30rem;
    position: absolute;
    top: -10rem;
    right: -30%;
    opacity: .3;
  
    animation: rotate linear infinite 25s;
    mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), transparent 100%);
  
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  #resultado .blush {
    width: 1000px;
    height: 1000px;
    background: radial-gradient(#3BFF00, transparent 50%);
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    top: -30rem;
    left: -50rem;
    opacity: .07;
  
    animation: moveblush infinite 4s linear;
  }
  
  #resultado .content {
    display: flex;
    flex-direction: column;
    gap: 8rem;
  }
  
  #resultado .text {
    text-align: left;
    overflow: hidden;
  }
  
  #resultado .text span {
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.2rem;
  
    font-family: var(--interV);
  
    display: inline-block;
    margin-bottom: 1rem;
  
    position: relative;
  }
  
  #resultado h2 {
    font-size: 3rem;
    color: var(--color-text);
    font-weight: 500;
    margin-bottom: 2rem;
  }
  
  #resultado p {
    font-size: 1.6rem;
    background: linear-gradient(45deg, #d4d4d4 0%, #7a7a7a 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--interV);
    font-weight: 500;
  }
  
  #resultado .image {
    position: relative;
  }

  #resultado .result {
    display: grid;
    grid-template-columns: 1fr 6fr;
    gap: .4rem;
    align-items: center;

    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(45, 45, 45, 0.541);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.041);
    padding: 1rem;
    width: max-content;
    opacity: .9;
    position: absolute;

    mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), transparent 100%);

    animation: moveResults infinite 3s ease-in-out;

    box-shadow:  14px 14px 28px #0a0a0a,
             -14px -14px 28px #0c0c0c;
  }

  @keyframes moveResults {
    50% {
      transform: translateY(-5px);
    }
  }

  #resultado .result.turbinada {
    top: 0;
    left: 0;
  }

  #resultado .result.comentarios {
    top: -2rem;
    right: 0;

    animation-delay: 200ms;
  }

  #resultado .result.alcancadas {
    bottom: -3rem;
    left: 0;

    animation-delay: 350ms;
  }

  #resultado .result.curtidas {
    bottom: 1rem;
    right: 0;

    animation-delay: 400ms;
  }

  #resultado .result p {
    color: var(--color-text);
    font-weight: 600;
    font-size: 1rem;
    font-family: var(--interV);
  }

  #resultado .result p span {
    font-weight: 800;
  }
  
  #resultado .image img {
    width: 100%;
  }
  
  #resultado .image img.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: .2;
    width: 70%;
    mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), transparent 100%);
  
  }
  
  #resultado .image img.foguete {
    filter: drop-shadow(-5px 5px 30px #33d90077);
  }

  #resultado .image img.explosao {
    position: absolute;
    left: 50%;
    top: 52%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(-5px 5px 30px #33d90013);
  }

  @media (min-width: 768px) {
    .wrapper {
        width: min(76rem, 100%);
    } 
}

@media (min-width: 1080px) {
    .wrapper {
      width: min(112rem, 100%);
    }
    
    section#resultado .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
      }
    
      section#resultado .pattern {
        width: initial;
        top: 20%;
        left: -30%;
        opacity: .4;
      }

      section#resultado span {
        font-size: 1.4rem;
      }

      section#resultado h2 {
        font-size: 4rem;
      }

      section#resultado p {
        font-size: 2rem;
      }

      section#resultado .result.turbinada {
        top: 20%;
        left: 2rem;
      }
    
      section#resultado .result.comentarios {
        top: 20%;
        right: 10%;
      }
    
      section#resultado .result.alcancadas {
        bottom: 15%;
        left: -5rem;
      }
    
      section#resultado .result.curtidas {
        right: 15%;
      }

      section#resultado .result p {
        font-size: 1.2rem;
      }
}

@media (min-width: 1400px) {
  .wrapper {
    width: min(140rem, 100%);
  }
}

@media (min-width: 1700px) {
  .wrapper {
    width: min(150rem, 100%);
  }
}