#services {
    background: var(--black-700);
    position: relative;
    overflow: hidden;
  }
  
  #services span {
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.2rem;
  
    font-family: var(--interV);
  
    display: inline-block;
    margin-bottom: 1rem;
  }
  
  #services header {
    position: relative;
  }
    
  #services h2 {
    font-size: 3rem;
    color: var(--color-text);
    font-weight: 500;
    margin-bottom: 5rem;
  }
  
  #services .cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  #services .cards .card {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: start;
  
    padding: 3rem;
    border-radius: 1.5rem 1.5rem 0 1.5rem;
    
    backdrop-filter: blur(30px) saturate(180%);
    -webkit-backdrop-filter: blur(30px) saturate(180%);
    background-color: rgba(83, 83, 83, 0.1);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);

    box-shadow:  20px 20px 60px #090909,
             -20px -20px 60px #0d0d0d;
  
    position: relative;
    z-index: 3;
  }

  #services .blush {
    width: 700px;
    height: 700px;
    background: radial-gradient(#2e2e2e, transparent 60%);
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}
  
  #services .cards .card::before {
    content: '';
    position: absolute;
  
    width: 2px;
    height: 40%;
    right: -.1rem;
    bottom: 0;
    background: linear-gradient(45deg, #ffffff 0%, #91ff0000 100%);
    opacity: .4;
  }
  
  #services .cards .card::after {
    content: '';
    position: absolute;
  
    height: 2px;
    width: 40%;
    right: 0;
    bottom: -.1rem;
    background: linear-gradient(45deg, #91ff0000 0%, #ffffff 100%);
    opacity: .4;
  }
  
  #services .cards .card img {
    margin-bottom: 2rem;
    width: 5rem;

    animation: icon infinite ease-in-out 12s forwards;
  }

  @keyframes icon {
    0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 50% 50%;
	}

	10% {
		transform: rotate(4deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-6deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(6deg);
	}

	80% {
		transform: rotate(-4deg);
	}

	90% {
		transform: rotate(4deg);
	}
}

  
  #services .cards .card h3 {
    font-family: var(--RebondBold);
    font-size: 2.5rem;
    color: var(--color-text);
  
    margin-bottom: 1rem;
  }
  
  #services .cards .card p {
    font-size: 1.6rem;
    background: linear-gradient(45deg, #d4d4d4 0%, #7a7a7a 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--interV);
    font-weight: 500;
  }

  @media (min-width: 768px) {
    .wrapper {
        width: min(76rem, 100%);
    } 
}

@media (min-width: 1080px) {
    .wrapper {
      width: min(112rem, 100%);
    }

    section#services .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: .1rem;
      }

      section#services .cards .card {
        border-radius: 0 1.5rem 1.5rem 1.5rem;
        mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 80%, transparent 100%);
      }
    
      section#services .cards .card::before,
      section#services .cards .card::after {
        opacity: .4;
      }

      section#services .cards .card::before {      
        background: linear-gradient(45deg, #91ff0000 0%, #ffffff 100%);
        width: 2px;
        height: 40%;
        left: -.1rem;
        top: 0;
      }
      
      section#services .cards .card::after {
      background: linear-gradient(45deg, #ffffff 0%, #91ff0000 100%);
        height: 2px;
        width: 40%;
        left: 0;
        top: -.1rem;
      }

      section#services span {
        font-size: 1.4rem;
      }

      section#services header h2 {
        font-size: 4rem;
        margin-bottom: 7rem;
      }
}

@media (min-width: 1400px) {
  .wrapper {
    width: min(140rem, 100%);
  }
}

@media (min-width: 1700px) {
  .wrapper {
    width: min(150rem, 100%);
  }
}
